.tools{
  margin-top: 2rem;
}
.tools-desc{
    text-align: justify;
    font-size: 14px;
  }
  .tools img{
  height: 150px;
  object-fit: contain;
  }
  
  .tools-names{
    text-align: center;
    font-size: 13px;
    margin-bottom: 1rem;
  }
  
  .segments h2{
    font-size: 16px;
    margin-top: 1.5rem;
  }
  
  .segments p{
    font-size: 13px;
    margin: 1.5rem 0;
  }

  @media (min-width:587px){
    .segments h2{
      font-size: 19px;
      /* margin-top: 2rem; */
    }
    .segments p{
      font-size: 14px;
    }
    .tools-names{
      font-size: 14px;
      margin-bottom: 1.2rem;
    }
  }

  @media (min-width:768px){
    .segments h2{
      font-size: 17px;
    }
    .segments p{
      font-size: 13px;
    }
    .tools-desc{
      font-size: 14px;
    }
  }

  @media (min-width:1024px){
    .tools-desc{
      padding:0 1rem;
      font-size: 13px;
      font-weight: 500;
    }
    .tools img{
      object-fit: cover;
      height: 300px;
      margin-top:.5rem ;
    }
    .segments h2{
      font-size: 18px;
    }
    .segments p{
      font-size: 15px;
    }
  }